
.curriculum{
    font-family: 'Itim', cursive;
    margin-top: 2rem;
    font-size: 1.7rem;
}

.items, .imagen-perfil{
    margin-top: 1rem;
}

.contenido-dinamico{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: dimgray;
}

